__pycache__
*.pyc

.coverage
.tox
.python-version

.idea
.vscode
.history

docs/_build/
fabfile.py
node_modules

mymoney/settings/*.py
!mymoney/settings/__init__.py
!mymoney/settings/base.py
mymoney/static/bower_components

ROADMAP.txt
