<div class="modal fade" {% if id %}id="{{ id }}" {% endif %}tabindex="-1" role="dialog" aria-labelledby="{{ title }}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {# Be careful, bootstrap-calendar expect it to be h3 ONLY! #}
                <h3 class="modal-title">{{ title }}</h3>
            </div>
            <div class="modal-body">{{ body }}</div>
        </div>
    </div>
</div>