{% extends 'base.html' %}
{% load i18n core_tags %}

{% block title %}
{% if object %}
{% trans "Update the scheduled bank transaction" %} {{ object }}
{% else %}
{% trans "Scheduled a bank transaction" %}
{% endif %}
{% endblock %}

{% block content_title %}
{% if object %}
{% trans "Update the scheduled bank transaction" %} {{ object }}
{% else %}
{% trans "Scheduled a bank transaction" %}
{% endif %}
{% endblock %}

{% block breadcrumb %}
{% if object %}
{% breadcrumb request object.bankaccount.pk %}
{% else %}
{% breadcrumb request %}
{% endif %}
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    {% if object.pk %}
    <div class="btn-group" role="group">
        <input class="btn btn-success" type="submit" value="{% trans "Save" %}" />
        <a href="{% url 'banktransactionschedulers:delete' object.pk %}" class="btn btn-danger">{% trans "Delete" %}</a>
    </div>
    {% else %}
    <input class="btn btn-success" type="submit" value="{% trans "Save" %}" />
    {% endif %}
</form>
{% endblock %}