{% extends 'base.html' %}
{% load i18n core_tags %}

{% block title %}
{% blocktrans %}{{ bankaccount }}'s ratio statistics summary{% endblocktrans %}
{% endblock %}
{% block content_title %}
{% blocktrans %}{{ bankaccount }}'s ratio statistics summary {% endblocktrans %}
{% endblock %}

{% block menu_tab %}
{% menu_tab_links request %}
{% endblock %}

{% block menu_item %}
{% menu_item_links request %}
{% endblock %}

{% block content %}
{% include "banktransactionanalytics/ratio/summary/body.html" %}
{% endblock %}