{% load i18n core_tags %}
<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Label" %}</th>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "Reconciled" %}</th>
            <th>{% trans "Tag" %}</th>
        </tr>
        </thead>
        <tbody>
            {% for banktransaction in banktransactions %}
            <tr>
                <td>{{ banktransaction.date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ banktransaction.label }}</td>
                <td>{{ banktransaction.amount|localize_positive }}</td>
                <td>
                    {% if banktransaction.reconciled %}
                    <span class="glyphicon glyphicon-ok"><span class="sr-only">{% trans "Yes" %}</span></span>
                    {% endif %}
                </td>
                <td>{{ banktransaction.tag }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>